.advantages {
    padding: 15px 0;
    background-color: var(--Background-color);
}

@media (min-width: 400px) {
    .advantages {
        position: relative;
        padding: 50px 0;
        overflow: hidden;
        background-color: var(--Background-color);
    }
}

@media (min-width: 576px) {
    .advantages {
        position: relative;
        padding: 60px 0;
        background-color: var(--Background-color);
    }
}

@media (min-width: 922px) {
    .advantages {
        position: absolute;
        padding: 0;
        width: 500px;
        height: 296px;
        top: 0;
        left: 420px;
        background-color: transparent;
    }
}

@media (min-width: 400px) {
    .advantages__flex {
        display: flex;
        overflow: hidden;
    }
}

@media (min-width: 576px) {
    .advantages__flex {
        display: flex;
    }
}

@media (min-width: 700px) {
    .advantages__flex {
        min-height: 373px;
    }
}

@media (min-width: 922px) {
    .advantages__flex {
        position: relative;
        min-height: 296px;
    }
}

.advantages__image {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.advantages__GirlImage {
    display: none;
}

@media (min-width: 400px) {
    .advantages__GirlImage {
        display: inline-block;
        position: absolute;
        object-fit: cover;
        width: auto;
        height: auto;
        top: -6px;
        left: -5px;
        max-width: 566px;
    }
}

@media (min-width: 576px) {
    .advantages__GirlImage {
        top: -6px;
        left: 100px;
    }
}

@media (min-width: 700px) {
    .advantages__GirlImage {
        left: 37%;
    }
}

@media (min-width: 922px) {
    .advantages__GirlImage {
        position: absolute;
        top: 0;
        left: 0;
        height: 296px;
    }
}


.advantages__icon {
    width: 35px;
    height: 35px;
}

@media (min-width: 922px) {
    .advantages__icon {
        width: 25px;
        height: 25px;
    }
}

.advantages__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    z-index: 1;
}

@media (min-width: 700px) {
    .advantages__list {
        padding-top: 50px;
        height: fit-content;
        width: 53%;
        max-width: 366px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px 25px;
    }
}

@media (min-width: 922px) {
    .advantages__list {
        position: absolute;
        width: 61%;
    }
}

.advantages__item {
    display: flex;
    padding: 5px 15px;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    background-color: var(--White);
    box-shadow: 0 24px 50px 0 rgba(0, 0, 0, 0.10);
}

@media (min-width: 576px) {
    .advantages__item {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 700px) {
    .advantages__item {
        width: calc((100% - 25px) / 2);
        justify-content: center;
        padding: 12px 15px;
    }
}

@media (min-width: 922px) {
    .advantages__item {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.advantages__ItemDescription {
    color: var(--Black);
    font-family: var(--font-Poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--weight-400);
    line-height: 40px;
}

@media (min-width: 922px) {
    .advantages__ItemDescription {
        font-size: 12px;
        line-height: 15px;
    }
}

.advantages__title {
    margin-bottom: 4px;
    color: var(--Orange);
    font-family: var(--font-Poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--weight-400);
    line-height: normal;
}

.advantages__description {
    color: var(--Black);
    font-family: var(--font-Poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--weight-700);
    line-height: normal;
}

@media (min-width: 922px) {
    .AdvantagesItem1 {
        top: 142px;
        right: 308px;
    }
}

@media (min-width: 922px) {
    .AdvantagesItem2 {
        top: 181px;
        right: 20px;
    }
}

@media (min-width: 922px) {
    .AdvantagesItem3 {
        bottom: 275px;
        right: 339px;
    }
}

@media (min-width: 922px) {
    .AdvantagesItem4 {
        bottom: 350px;
        right: 20px;
    }
}

@media (min-width: 700px) {
    .AdvantagesItem5 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 922px) {
    .AdvantagesItem5 {
        width: unset;
        bottom: 142px;
        right: 114px;
    }
}



