.advantages {
    padding: 15px 0;
    background-color: var(--Background-color);
}

@media (min-width: 400px) {
    .advantages {
        position: relative;
        padding: 50px 0;
        overflow: hidden;
        background-color: var(--Background-color);
    }
}

@media (min-width: 576px) {
    .advantages {
        position: relative;
        padding: 60px 0;
        background-color: var(--Background-color);
    }
}

@media (min-width: 922px) {
    .advantages {
        position: absolute;
        padding: 0;
        width: 640px;
        height: 561px;
        top: 60px;
        right: 1%;
        background-color: transparent;
        overflow: unset;
    }
}

@media (min-width: 1440px) {
    .advantages {
        width: 974px;
        height: 810px;
        right: 1%;
        top: 5px;
    }
}

@media (min-width: 400px) {
    .advantages__flex {
        display: flex;
        overflow: hidden;
    }
}

@media (min-width: 576px) {
    .advantages__flex {
        display: flex;
    }
}

@media (min-width: 922px) {
    .advantages__flex {
        overflow: unset;
    }
}

@media (min-width: 700px) {
    .advantages__flex {
        min-height: 373px;
        align-items: center;
    }
}

@media (min-width: 922px) {
    .advantages__flex {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: unset;
        padding: 0;
    }
}

@media (min-width: 1440px) {
    .advantages__flex {
        width: 100%;
        height: 100%;
        min-height: unset;
    }
}

.advantages__image {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.advantages__GirlImage {
    display: none;
}

@media (min-width: 400px) {
    .advantages__GirlImage {
        display: inline-block;
        position: absolute;
        object-fit: cover;
        width: auto;
        height: auto;
        top: -6px;
        left: -5px;
        max-width: 566px;
    }
}

@media (min-width: 576px) {
    .advantages__GirlImage {
        top: -6px;
        left: 100px;
    }
}

@media (min-width: 700px) {
    .advantages__GirlImage {
        left: 37%;
    }
}

@media (min-width: 922px) {
    .advantages__GirlImage {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: unset;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        object-fit: unset;
    }
}

@media (min-width: 1440px) {
    .advantages__GirlImage {
        width: 100%;
        height: 100%;
        max-width: unset;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

.advantages__icon {
    width: 35px;
    height: 35px;
}

@media (min-width: 700px) {
    .advantages__icon.big {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 922px) {
    .advantages__icon {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 1440px) {
    .advantages__icon {
        width: 40px;
        height: 40px;
    }
}

.advantages__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    z-index: 1;
}

@media (min-width: 700px) {
    .advantages__list {
        height: fit-content;
        width: 75%;
        max-width: 377px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px 25px;
    }
}

@media (min-width: 922px) {
    .advantages__list {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: unset;
        padding: 0;
    }
}

.advantages__item {
    display: flex;
    padding: 5px 15px;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    background-color: var(--White);
    box-shadow: 0 24px 50px 0 rgba(0, 0, 0, 0.10);
}

@media (min-width: 576px) {
    .advantages__item {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 700px) {
    .advantages__item {
        width: calc((100% - 25px) / 2);
        justify-content: center;
        padding: 12px 15px;
    }
}

@media (min-width: 922px) {
    .advantages__item {
        position: absolute;
        width: fit-content;
        height: fit-content;
    }
}

.advantages__ItemDescription {
    color: var(--Black);
    font-family: var(--font-Poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: var(--weight-400);
    line-height: 40px;
}

@media (min-width: 576px) {
    .advantages__ItemDescription {
        font-size: 14px;
    }
}

@media (min-width: 700px) {
    .advantages__ItemDescription {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (min-width: 922px) {
    .advantages__ItemDescription {
        font-size: 16px;
        line-height: 15px;
    }
}

@media (min-width: 1440px) {
    .advantages__ItemDescription {
        font-size: 18px;
        line-height: 40px;
    }
}

.advantages__title {
    margin-bottom: 4px;
    color: var(--Orange);
    font-family: var(--font-Poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: var(--weight-400);
    line-height: normal;
}

@media (min-width: 922px) {
    .advantages__title {
        font-size: 10px;
    }
}

@media (min-width: 1440px) {
    .advantages__title {
        font-size: 14px;
        margin: 0;
    }
}

.advantages__description {
    color: var(--Black);
    font-family: var(--font-Poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--weight-700);
    line-height: normal;
}

@media (min-width: 320px) {
    .advantages__description {
        font-size: 14px;
    }
}

@media (min-width: 922px) {
    .advantages__description {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    .advantages__description {
        font-size: 20px;
    }
}

@media (min-width: 922px) {
    .AdvantagesItem1 {
        top: 75px;
        left: 122px;
    }
}

@media (min-width: 1440px) {
    .AdvantagesItem1 {
        top: 123px;
        left: 193px;
    }
}

@media (min-width: 922px) {
    .AdvantagesItem2 {
        top: 138px;
        right: 46px;
    }
}

@media (min-width: 1440px) {
    .AdvantagesItem2 {
        top: 229px;
        left: 650px;
    }
}

@media (min-width: 922px) {
    .AdvantagesItem3 {
        top: 377px;
        left: 145px;
    }
}

@media (min-width: 1440px) {
    .AdvantagesItem3 {
        top: 544px;
        left: 290px;
    }
}

@media (min-width: 922px) {
    .AdvantagesItem4 {
        bottom: 178px;
        right: 0;
    }
}

@media (min-width: 1440px) {
    .AdvantagesItem4 {
        top: 473px;
        left: 731px;
    }
}

@media (min-width: 700px) {
    .AdvantagesItem5 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 922px) {
    .AdvantagesItem5 {
        width: unset;
        bottom: 37px;
        right: 43px;
    }
}

@media (min-width: 1440px) {
    .AdvantagesItem5 {
        width: max-content;
        bottom: 89px;
        left: 598px;
    }
}



