html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Oswald","Poppins","BebasNeue", 'PoppinsLight', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

@media (min-width: 400px) {
    .container {
        padding: 0 20px;
    }
}

@media (min-width: 576px) {
    .container {
        padding: 0 25px;
    }
}

@media (min-width: 922px) {
    .container {
        padding: 0 35px;
    }
}

@media (min-width: 1440px) {
    .container {
        padding: 0 86px 0 86px;
    }
}

@media (min-width: 1440px) {
    .main {
        position: unset;
    }
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.font__size__0 {
    font-size: 0;
}

.orange {
    color: var(--Orange);
}

.active {
 background-color: white;
 color: orange;
}

.button__styles {
    padding: 5px 15px;
    font-family: var(--font-Poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border-radius: 15px;
    transition: color .3s ease-out, background-color 0.3s ease-out;
}

@media (min-width: 576px) {
    .button__styles  {
        font-size: 16px;
    }
}

@media (min-width: 700px) {
    .button__styles  {
        font-size: 15px;
    }
}

@media (min-width: 922px) {
    .button__styles  {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .button__styles  {
        font-size: 18px;
        padding: 10px 40px;
        border-radius: 8px;
    }
}

.button__styles:focus-visible {
    background-color: var(--Black);
    color: var(--White);
}

.button__styles:hover {
    background-color: #FD6826;
    color: var(--White);
}

.button__styles:active {
    background-color: #8B4804;
    color: var(--White);
}

.sign_in {
    background-color: var(--Orange);
    color: var(--White);
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.form_wrapper-style {
    margin-bottom: 25px;
}


















