.select {
    position: relative;
}

.select__label {
    margin-bottom: 5px;
    color: var(--gray-100);
    font-family: var(--font-Poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 400px) {
    .select__label {
        font-size: 16px;
    }
}

.select__wrapper {
    display: grid;
    position: relative;
    grid-template-columns: 21px auto;
    grid-template-rows: 21px auto;
    align-items: center;
    column-gap: 10px;
}

.select__list {
    display: grid;
    position: absolute;
    order: 1;
    grid-row: 2/3;
    grid-column: 2/3;
    row-gap: 3px;
    left: 0;
    top: 2px;
    width: max-content;
    padding: 5px 5px;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 1px -0.5px var(--black-100);
    border-radius: 6px;
}

@media (min-width: 922px) {
    .select__list {
        top: 5px;
    }
}

.select__item {
    padding: 0 10px;
}

.select__button {
    color: var(--black-100);
    font-family: var(--font-Poppins);
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color .2s ease-out;
    cursor: pointer;
}

.select__button:hover {
    color: var(--orange-100);
}

.select__button:focus-visible {
    outline: 1px solid var(--black-100);
    outline-offset: 3px;
}

.select__button:active {
    color: #8B4804;
}

@media (min-width: 700px) {
    .select__button {
        font-size: 14px;
    }
}

@media (min-width: 922px) {
    .select__button {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .select__button {
        font-size: 18px;
    }
}

.select__head {
    padding: 0 5px;
    width: fit-content;
    color: var(--black-100);
    font-family: var(--font-Poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: color 0.2s ease-out;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.select__head:hover {
    color: var(--orange-100)
}

.select__head:active {
    color: #8B4804
}

@media (min-width: 700px) {
    .select__head {
        font-size: 14px;
    }
}

@media (min-width: 922px) {
    .select__head {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .select__head {
        font-size: 18px;
    }
}

.select-open .select__list {
    display: none;
}




