.select {
    position: relative;
}

.select__label {
    margin-bottom: 5px;
    color: var(--Gray);
    font-family: var(--font-Poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 400px) {
    .select__label {
        font-size: 16px;
    }
}

.select__wrapper {
    display: grid;
    grid-template-columns: 21px auto;
    grid-template-rows: 21px auto;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

.select__list {
    display: grid;
    order: 1;
    grid-row: 2/3;
    grid-column: 2/3;
    row-gap: 3px;
}

.select__list li {
    color: var(--Black);
    font-family: var(--font-Poppins);
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color .2s ease-out;
}

.select__list li:hover {
    color: var(--Orange);
}

@media (min-width: 700px) {
    .select__list li {
        font-size: 14px;
    }
}

@media (min-width: 922px) {
    .select__list li {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .select__list li {
        font-size: 18px;
    }
}

.select__head {
    color: var(--Black);
    font-family: var(--font-Poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (min-width: 700px) {
    .select__head {
        font-size: 14px;
    }
}

@media (min-width: 922px) {
    .select__head {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .select__head {
        font-size: 18px;
    }
}

.select-open .select__list {
    display: none;
}




